nav {
    display: flex;
    gap: 30px
}

header {
    display: flex;
    justify-content: space-around;

    align-items: center;
}

a {
    color: rgb(0, 0, 0);

    text-decoration: none;
}

a :hover {
    color: rgb(0, 0, 0);
}

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;


}

main {}

.box div {
    width: 440px;
    height: 292px;
    font-family: 'Mulish';
    font-size: 19px;


}

.box h1 {
    font-size: 45px;
}

.box button {
    width: 197px;
    height: 49px;
    background-color: #458FF6;
    border-radius: 55px;
    border: none;
    color: white;
}

.pro {
    text-align: center;
    width: 212px;
    height: 56px;
    font-size: 35px;
    margin: auto;
}

.pro1 {
    text-align: center;
    width: 952px;
    height: 60px;
    font-size: 18px;
    margin: auto;
}

.card {
    width: 380px;
    height: 380px;
    background-color: #E5E9F666;
    border-radius: 20px;
}

.card img {
    /* padding: 50px; */
}

.card h3,
p {
    padding-left: 50px;
}

.card h3 {
    font-size: 24px;
}

.card p {
    font-size: 16px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
    margin-top: 100px;
}

.cards div:hover {
    background-color: #458FF6;
}

h1 {
    text-align: center;
}

.cards2 {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
    margin-top: 100px;
}

button {
    width: 200px;
    height: 56px;
    border-radius: 50px;
    border: 50px;

}

.t {
    width: 386px;
    height: 142px;
}

footer {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: white;
    display: flex;
    justify-content: space-around;
    height: 432px;
    align-items: center;
}

.b {
    width: 386px;
    height: 142px;



}


.ViewAll {
    margin: 100px 0;
}


